<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragment/head.html::head">
    <title>SDMC 게임 리스트</title>
</head>
<body>

<div th:replace="fragment/navigation.html::nav"></div>
<div class="py-2 bg-gray-200 flex justify-center">
    <button class="m-1 bg-blue-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="location.href='/game/genre/list'" >장르 리스트</button>
    <button class="m-1 bg-blue-300 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" onclick="location.href='/game/series/list'" >시리즈 리스트</button>
</div>

</body>
</html>