<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragment/head.html::head">
    <title>SDMC</title>
</head>
<body>

<div th:replace="fragment/navigation.html::nav"></div>

<div th:if="${param.logout}">
    <script type="text/javascript">
        alert("로그아웃 되었습니다.");
    </script>
</div>

<div class="py-32 bg-gray-200 flex justify-center">
    <div class="w-full max-w-xs">
        <form id="loginForm" class="bg-white shadow-md rounded px-5 pt-4 pb-4 mb-4" method="post" th:action="@{/login}">
            <div style="font-size: 32px;font-family: NanumGothicOTF,serif" class="mb-2 flex justify-center items-center">
                로그인
            </div>
            <div class="mb-3">
                <input type="text" id="username" name="username" placeholder="아이디" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-0">
                <input type="password" id="password" name="password" placeholder="패스워드" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div th:if="${param.error}" style="color: red">잘못된 ID 또는 비밀번호 입니다</div>
            <div class="mb-4 flex justify-center items-center">
                <label>아이디 찾기</label>
                <label> &nbsp;|&nbsp; </label>
                <label>비밀번호 찾기</label>
            </div>
            <input type="hidden" id="csrf">
            <div class="mb-2">
                <button id="login" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    로그인
                </button>
            </div>
            <div>
                <button type="button" onclick="location.href='/signup'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    회원가입
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>