<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragment/head.html::head">
    <title>SDMC 회원가입</title>
</head>
<body>

<div th:replace="fragment/navigation.html::nav"></div>

<div class="py-32 bg-gray-200 flex justify-center">
    <div class="w-full max-w-xs">
        <form id="loginForm" class="bg-white shadow-md rounded px-5 pt-4 pb-4 mb-4" th:action="@{/signup}" method="post" th:object="${MemberRegisterDto}">
            <div style="font-size: 32px;font-family: NanumGothicOTF,serif" class="mb-2 flex justify-center items-center">
                회원가입
            </div>

            <div class="mb-3">
                <label>
                    <input type="text" id="username" th:field="*{username}" name="username" placeholder="아이디" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </label>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"><p>아이디 에러</p></span>

            <div class="mb-3">
                <label>
                    <input type="password" id="password" th:field="*{password}" name="password" placeholder="패스워드" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                </label>
            </div>
            <div class="mb-3">
                <label>
                    <input type="password" id="password_confirm" th:field="*{password_confirm}" name="password" placeholder="패스워드 재확인" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                </label>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"><p>패스워드 에러</p></span>

            <div class="mb-3">
                <label>
                    <input type="text" id="mail" name="mail" th:field="*{mail}" placeholder="메일 주소" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                </label>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"><p>메일 에러</p></span>

            <div class="mb-3">
                <label>
                    <input type="text" id="nickname" name="mail" th:field="*{nickname}" placeholder="닉네임" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" required>
                </label>
            </div>
            <span style="color: red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"><p>닉네임 에러</p></span>

            <div class="mb-2">
                <button id="login" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    회원가입
                </button>
            </div>
            <div>
                <button type="button" id="btn_joinForm" onclick="location.href='login'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    취소
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>