<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragment/head.html::head">
    <title>SDMC 회사 추가</title>
</head>
<body>

<div th:replace="fragment/navigation.html::nav"></div>

<div class="py-32 bg-gray-200 flex justify-center">
    <div class="w-full max-w-xs">
        <form id="loginForm" autocomplete="off" class="bg-white shadow-md rounded px-5 pt-4 pb-4 mb-4" th:action="@{/game/company/new}" method="post" th:object="${Company}">
            <div style="font-size: 32px;font-family: NanumGothicOTF,serif" class="mb-2 flex justify-center items-center">
                회사 추가
            </div>

            <div class="mb-3">
                <input type="text" id="new_series_kor" th:field="*{korName}" name="new_genre_name" placeholder="회사명(한글)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <span class="mb-3" style="color: red" th:if="${#fields.hasErrors('korName')}" th:errors="*{korName}"><p>시리즈명 에러</p></span>
            <div class="mb-3">
                <input type="text" id="new_series_org" th:field="*{orgName}" name="new_genre_name" placeholder="회사명(원어)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-3" style="color: green" th:if="${success}">추가되었습니다.</div>

            <div class="mb-2">
                <button id="add" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    추가
                </button>
            </div>
            <div>
                <button type="button" id="btn_joinForm" onclick="location.href='/game/company/list'" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full focus:outline-none focus:shadow-outline">
                    취소
                </button>
            </div>
        </form>
    </div>
</div>

</body>
</html>